.recipes {
  width: 95%;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: Inter;

  &__search {
    padding: 50px 0;
    background-image: url('../../assets/SearchBackground.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 25px;

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-self: left;
      margin-top: 20px;
      gap: 5px;

      &__item {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #fff;

        color: rgba(89, 46, 21, 0.53);
        font-weight: 500;
        font-size: 16px;

        span {
          color: #592e15;
          font-weight: 500;
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    &__bottom {
      margin-top: 15px;
      color: rgba(89, 46, 21, 0.53);
      font-weight: 500;

      span {
        color: #592e15;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 70px;
    &__left {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      gap: 45px;
    }
    &__right {
      width: 20%;
    }
  }
}
