.bti1 {
  height: 199px;
  position: relative;
  width: 233px;
}

.bti1 .view {
  height: 199px;
  width: 235px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bti1 .text-wrapper {
  color: #592d1487;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  width: 233px;
}

.bti1 .fast-moving-consumer {
  height: 81px;

  width: 81px;
}
