.bti2 {
  height: 180px;
  position: relative;
  width: 266px;
}

.bti2 .view {
  height: 180px;
  width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bti2 .text-wrapper {
  color: #592d1487;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;
  text-align: center;
  width: 266px;
}

.bti2 .chinese-fried-rice {
  height: 81px;
  width: 81px;
}
