.search {
  width: 65%;
  background-color: white;
  border-radius: 25px;
  padding: 0 0 0 1em;
  z-index: 1;
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__btns {
      display: flex;
      align-items: center;
      gap: 2em;
      &__camera {
      }
      &__searchIcon {
        padding: 5px 30px;
        border-radius: 25px;
        background-color: #ff961c;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        &:hover {
          cursor: pointer;
          background-color: #dad623;
          color: white;
        }
      }
    }
  }
}
