.contactText {
  width: 472px;
  margin-bottom: 40px;
}

.contactText .view {
  height: 179px;
  width: 476px;
}

.contactText .div {
  color: transparent;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 57.6px;
  width: 472px;
  margin-bottom: 0px;
}

.contactText .text-wrapper {
  color: #ff961c;
}

.contactText .span {
  color: #592d14;
}

.contactText .text-wrapper-2 {
  color: #592d1487;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 57.6px;
  top: 121px;
  white-space: nowrap;
}
