.recipeAbout {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__image {
      width: 460px;
      height: 375px;

      border-radius: 10px;
    }
    &__text {
      width: 60%;

      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      // justify-content: space-between;

      padding: 60px;

      &__title {
        display: flex;
        justify-content: space-between;

        color: #592e15;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;

        margin-bottom: 20px;
      }

      &__text {
        color: rgba(89, 46, 21, 0.53);
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;

        margin-top: 100px;

        width: 100%;

        display: flex;
        justify-content: space-between;

        &__title {
          color: #ff961c;

          text-align: center;
          font-family: Inter;
          font-size: 48px;
          font-style: normal;
          font-weight: 500;
        }

        &__text {
          text-align: center;
        }
      }
    }
  }

  &__title {
    color: #592e15;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    padding: 30px 0;

    display: flex;
    justify-content: center;

    &__text {
      color: rgba(89, 46, 21, 0.53);
      font-family: 'Inter', sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0.01em;

      &__item {
        margin-bottom: 10px;
        border-radius: 25px;
        background-color: #fff;
        color: #592e15;
        padding: 15px 30px;
      }
    }

    &__item {
      // border: #592e15 1px solid;
      width: 400px;
      padding: 10px 30px;

      margin-bottom: 20px;

      color: #ff961c;
      background-color: #fff;
      font-size: 24px;

      border-radius: 25px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 24px;
        color: #592e15;
        opacity: 0.5;
      }
    }

    margin-bottom: 20px;
  }

  .recipeAbout__title{
    &__box{
      margin-right: 60px;
      
    }
  }

  @media print {
    /* Скрытие изображения избранного */
    .recipeAbout__top__text__title img {
      display: none;
    }


    .recipeAbout{
      &__title{
          &__box{
            .print{
              display: none !important;
            }
          }
        }
      }

      .header{
        display: none !important;
      }

      .recipeAbout__top {
        /* Настройки для блока .recipeAbout__top при печати */
        .recipeAbout__top__image {
          margin-left: -300px; /* Измените значение в соответствии с вашими требованиями */
        }

        &__text {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center; /* Горизонтальное центрирование всех дочерних элементов */
          margin-left: 300px;
      
          &__title {
            text-align: center; /* Выравнивание текста по центру */
          }
        }

      }

      .recipeAbout__title{
        
        &__box{
          margin-left: 20px !important;
          
        }

        &__text{
          margin-left: 0px;
          width: auto;
          &__item{
            width: 1300px;

          }
        }
     }
    
      .recipeAbout__title {
        /* Настройки для блока .recipeAbout__title при печати */
        
      }
    


    // .header{
    //   display: none;
    // }

    // .print{
    //   display: none;
    // }
  
    /* Сокрытие нижнего колонтитула */
    @page {
      margin: 0;
    }
  
    /* Масштабирование содержимого */
    body {
      transform: scale(0.4);
      transform-origin: top left;
    }
  
    /* Удаление текста "React App" из верхнего колонтитула */
    @page :left {
      margin-left: 0;
    }
    @page :right {
      margin-right: 0;
    }

  }

  
}
